<div class="table-responsive">
    <h5>Call Details for {{ year }}-{{ month }}</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Call From</th>
                <th>Call To</th>
                <th>Call Time</th>
                <th>Duration</th>
                <th>Billing</th>
                <th>Cost</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for call in details %}
            <tr>
                <td>{{ call.CallFrom }}</td>
                <td>{{ call.CallTo }}</td>
                <td>{{ call.CallTime.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>{{ call.Duration }}</td>
                <td>{{ call.Billing }}</td>
                <td>${{ "%.2f"|format(call.Cost) }}</td>
                <td>{{ call.Status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
